/ExampleSeminar/WebApplication1/ConsoleApp1/obj
/ExampleSeminar/WebApplication1/ConsoleApp1/bin
/ExampleSeminar/WebApplication1/TestProject1/obj
/ExampleSeminar/WebApplication1/TestProject1/bin
/ExampleSeminar/WebApplication1/WebApplication1/obj
/ExampleSeminar/WebApplication1/WebApplication1/bin
/ExampleSeminar/WebApplication1/WebApplication2/obj
/ExampleSeminar/WebApplication1/WebApplication2/bin
